.icons {
  position: relative;
  .spanIcon {
    transform: translate3d(-153px, -190px, 0px) !important;
  }
  .dropdownMenu {
    border: 0.25px solid black;
    background-color: lightgray;
    border-radius: 10px;
    width: fit-content;
    .reactions {
      display: grid;
      grid-template-columns: repeat(4, 50px);
      text-align: center;
      cursor: pointer;
      span {
        margin: 3px 0;
      }
    }
  }
}
