.icons {
  position: relative;
  .spanIcon {
    position: absolute;
    right: 0;
    cursor: pointer;
  }
  .reactions {
    position: absolute;
    left: 100%;
    bottom: 100%;
    transform: translate(-110%, 15%);
    display: grid;
    grid-template-columns: repeat(4, 50px);
    text-align: center;
    cursor: pointer;
    border: 0.25px solid lightgray;
    span {
      margin: 3px 0;
    }
  }
}
