.messagePage {
  width: 100%;
  height: calc(100vh - 100px);
  border: 1px solid #ddd;
  margin-top: 15px;
  border-radius: 3px;
  background: #fbfbfb;
  display: flex;
  .leftMessage {
    flex: 0.35;
    border-right: 0.3px solid lightgray;
  }
  .rightMessage {
    flex: 0.65;
    .titleWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .messagePage {
    flex-direction: column;
    height: calc(100vh - 120px);
    margin: 0;
    .leftMessage {
      flex: none;
      .buttonIconMinimize {
        position: fixed;
        left: 50%;
        top: 120px;
        transform: translateX(-50%);
        z-index: 1;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        display: block !important;
        .IconMinimize {
          font-size: 30px;
          transform: translateY(-75%);
        }
      }
      .leftSideHeader {
        height: 30px;
      }
      .messageChatList {
        display: flex;
        height: 60px;
        .messageUser {
          min-width: 200px;
        }
      }
    }
    .rightMessage {
      flex: 1;
      overflow-y: auto;
    }
  }
}
