.info {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px 10px;
  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .avatarIcon {
      height: 120px;
      width: 100px;
    }
    .content {
      min-width: 250px;
      max-width: 550px;
      width: 100%;
      flex: 1;
      opacity: 0.7;
      margin: 0 15px;
      .contentTitle {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        h2 {
          font-size: 2rem;
          font-weight: 400;
          transform: translateY(4px);
          flex: 3;
        }
        .buttonEdit {
          flex: 1.5;
          border-radius: 5px;
          padding: 7px 5px;
          border: 0.25px solid lightgray;
          cursor: pointer;
          margin-top: 15px;
          transition: 0.5s ease-in-out;
          &:hover {
            background-color: burlywood;
          }
        }
      }
      .buttonFollow {
        color: teal;
        cursor: pointer;
        .textFollowers {
          margin-right: 10px;
          &:hover {
            text-decoration: underline;
          }
        }
        .textFollowings {
          margin-left: 10px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      h6 {
        .textMobile {
          color: crimson;
        }
      }
    }
  }
}
