#theme {
  display: none;
}
#theme:checked ~ * {
  filter: invert(100%);
}

.app {
  width: 100%;
  min-height: 100vh;
  background: white;
  .main {
    max-width: 1000px;
    width: 100%;
    min-height: 100vh;
    margin: auto;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}
