.menuHeader {
  display: flex;
  flex: 1;
  align-items: center;
  margin-top: 10px;
  @media (max-width: 766px) {
    height: 40px;
    width: 100%;
  }
  .navbarMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 766px) {
      justify-content: space-between;
      width: 100%;
      padding: 0 10px;
    }
    .listMenu {
      opacity: 0.5;
      list-style: none;
      &.active {
        opacity: 1;
      }
      .link {
        .button {
          .icon {
            font-size: 24px;
          }
        }
      }
    }
    .listDropdown {
      opacity: 0.5;
      list-style: none;
      display: flex;
      align-items: center;
      .dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        .iconDown {
          cursor: pointer;
        }
        .button {
          top: 0;
          .icon {
            opacity: 0.5;
          }
          .notifyLength {
            position: absolute;
            font-size: 12px;
          }
        }
      }
      .dropdownContent,
      .dropdownContentNotify {
        display: flex;
        background-color: #fff;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        border-radius: 10px;
        padding: 10px;
      }
      .dropdownContentNotify {
        border: 0.4px solid lightgray;
        // bottom: -325px !important;
        // bottom: -399px !important;
      }
      .dropdownContent {
        bottom: -100px !important;
        border: 0.5px solid black;
        right: 10px;
      }
    }
  }
}
