.notifyModal {
  min-width: 300px;
  z-index: 999;
  border-radius: 15px;
  // border: 1px solid black;
  .headerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    h3 {
      font-weight: 600;
    }
    .button {
      .icon {
      }
    }
  }
  .img {
    width: 100%;
  }
  .listNotify {
    max-height: calc(100vh - 200px);
    overflow: auto;
    .link {
      display: flex;
      align-items: center;
      @media (max-width: 425px) {
        flex-direction: column;
      }
      .infoWrap {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        div {
          @media (max-width: 425px) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
        .infoName {
          margin-right: 5px;
        }
      }
    }
    .timeMoment {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
      color: lightgray;
      .iconRead {
        color: #2196f3;
        font-size: 12px;
      }
    }
  }
  .deleteText {
    text-align: end;
    color: red;
    margin-right: 10px;
  }
}
