.buttonLoadMore {
  margin: 20px auto;
  display: block;
  color: black;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: lightgray;
  padding: 0 15px;
  border-radius: 10px;
}
