.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: rgb(241, 229, 229);
  border-radius: 50%;
  opacity: 0.3;
  overflow: hidden;
  z-index: 999;
  .loader {
    width: 300px;
    height: 300px;
    margin: auto;
    div {
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: 2px solid #fff;
      border-top: 2px solid crimson;
      border-radius: 50%;
      animation: rotate 10s linear infinite alternate-reverse;
    }
  }
}

@keyframes rotate {
  50% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
